html {
    scroll-behavior: smooth;
}

.qualtrics {
    margin-top: 2rem;
    border: none;
    height: 800px;
    width: 100%;
}

.introductiontext {
    padding: 2em 2em 2em 2em;
    margin: 2em 2em 2em 2em;
}

.explanationtitle {
    margin-top: 1em;
}

.explanationtext {
    margin-top: 4em;
}

/* .surveycontainer {
    margin: 15em 5em 10em 5em;
} */

.buttoncontainer {
    margin-top: 5em;
}

.startbutton {
    padding: 1em 2em 1em 2em;
    margin-left: 36px;
    margin-right: 36px;
}

.maincontainer {
    padding-top: 5em;
    text-align: center;
}
